@import url(@unocss/reset/tailwind.css);
@import url(overlayscrollbars/overlayscrollbars.css);

html,
body,
#app {
  height: 100vh;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'New York';
  src: url("/NewYork.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}


html.dark {
  color-scheme: dark;
}

body {
  background-color: #FBFBFB;
  color: #171717;
  font-family: 'New York', 'Times New Roman', serif;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  font-size: 18px;
  line-height: 1.6;
}

button:disabled {
  cursor: not-allowed;
  pointer-events: all !important;
}

/* Custom scrollbar styling for retro aesthetic */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #d4d4d4;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a3a3a3;
}

/* Firefox scrollbar */
* {
  scrollbar-width: thin;
  scrollbar-color: #d4d4d4 transparent;
}

/* https://github.com/KingSora/OverlayScrollbars/blob/master/packages/overlayscrollbars/src/styles/themes.scss */
.dark .os-theme-dark {
  --os-handle-bg: rgba(255, 255, 255, 0.44);
  --os-handle-bg-hover: rgba(255, 255, 255, 0.55);
  --os-handle-bg-active: rgba(255, 255, 255, 0.66);
}


*,
a,
button {
  cursor: default;
  user-select: none;
}

#dropdown-menu li {
  --at-apply: rounded-md flex items-center p-1 gap-1 cursor-pointer text-black [&_*]:cursor-pointer;
}


.grabbing * {
  cursor: grabbing;
}